# Copyright (c) 2013-2018, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    write /proc/sys/kernel/sched_boost 1
    mkdir /dsp 0771 media media
    mkdir /firmware 0771 system system
    mkdir /bt_firmware 0771 system system
    symlink /data/tombstones /tombstones

on init
    write /dev/stune/foreground/schedtune.sched_boost_no_override 1
    write /dev/stune/top-app/schedtune.sched_boost_no_override 1
    write /dev/stune/schedtune.colocate 0
    write /dev/stune/background/schedtune.colocate 0
    write /dev/stune/system-background/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.colocate 0
    write /dev/stune/top-app/schedtune.colocate 1
    write /sys/module/qpnp_rtc/parameters/poweron_alarm 1
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on early-fs
    start vold

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    mkdir /data/vendor/hbtp 0750 system system
    mkdir /persist/qti_fp 0700 system system
    mkdir /data/vendor/nnhal 0700 system system
    mkdir /data/vendor/nfc 0770 nfc nfc
    mkdir /data/vendor/thermal 0771 root system
    mkdir /data/vendor/thermal/config 0771 root system
    mkdir /data/vendor/charge_logger 0771 system system

# add charge_logger service for dump charge message
service charge_logger /vendor/bin/charge_logger
    class last_start
    user system
    group system system wakelock
    disabled
    oneshot

on property:sys.boot_completed=1
    start charge_logger

on property:ro.boot.dp=0x0 && property:ro.boot.secureboot=1
    write /sys/bus/platform/devices/c440000.qcom,spmi:qcom,pm6150@0:qcom,power-on@800/pshold_reboot 7

# For cpusets initialize for Silver Only first and then Silver + Gold
# Silver Only configuration cannot work with 0-7
on boot
    chown system system /sys/kernel/hbtp/display_pwr
    chown system system /proc/tp_selftest
    chown system system /sys/class/touch/touch_dev/palm_sensor

    chown system system /dev/lirc0
    chmod 0660 /dev/lirc0

#USB controller configuration
    setprop vendor.usb.rndis.func.name "gsi"
    setprop vendor.usb.rmnet.func.name "gsi"
    setprop vendor.usb.rmnet.inst.name "rmnet"
    setprop vendor.usb.dpl.inst.name "dpl"
    setprop vendor.usb.qdss.inst.name "qdss"
    setprop sys.usb.configfs 1

# access permissions for FPC service
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/irq
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/wakeup_enable

on charger
    setprop sys.usb.configfs 1
    start vendor.power_off_alarm
    symlink /dev/block/platform/soc/1da4000.ufshc /dev/block/bootdevice
    wait /dev/block/platform/soc/1da4000.ufshc/by-name/persist
    mkdir /data/vendor/charge_logger 0771 system system
    start charge_logger


service panel-info-sh /system/vendor/bin/sh /vendor/etc/init.panel_info.sh
    class late_start
    user root
    oneshot
    disabled

on property:sys.boot_completed=1
    start panel-info-sh

service hbtp /system/vendor/bin/hbtp_daemon
     class main
     user system
     group system
     disabled

on property:vendor.audio.cit.spkcal.copy=true
    copy /data/vendor/cit/tfa9894_chk.txt /mnt/vendor/persist/audio/tfa9894_chk.txt
    chmod 666 /mnt/vendor/persist/audio/tfa9894_chk.txt

service audioshell_service /vendor/bin/audioshell_service
    oneshot
    disabled

on property:ro.vendor.miui.region=*
    start audioshell_service

on post-fs-data
    chmod 0666 /dev/migt
    restorecon /dev/migt
    chmod 0777 /sys/module/migt/parameters/migt_freq
    restorecon /sys/module/migt/parameters/migt_freq
    chmod 0777 /sys/module/migt/parameters/migt_ms
    restorecon /sys/module/migt/parameters/migt_ms
    chmod 0777 /sys/module/migt/parameters/migt_thresh
    restorecon /sys/module/migt/parameters/migt_thresh

    chmod 0644 /dev/elliptic0
    chmod 0644 /dev/elliptic1
